//- views/index.pug
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/tailwind.css')
  body(class='bg-gray-100 flex items-center justify-center h-screen')
    div(class='bg-white p-8 rounded shadow-md text-center')
      h1(class='text-2xl font-bold mb-4')= message
      p(class='text-gray-700') Добро пожаловать в ваше Telegram веб-приложение с использованием Pug и Tailwind CSS!
