<!DOCTYPE html>
<html>
  <head>
    <title>Telegram Web App</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/tailwind.css">
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded shadow-md text-center">
      <h1 class="text-2xl font-bold mb-4">Добро пожаловать!!!</h1>
      <p class="text-gray-700">Добро пожаловать в Telegram!!! веб-приложение с использованием Pug и Tailwind CSS!</p>
      <p class="text-red-900">Добро пожаловать в Telegram веб-приложение с использованием Pug и Tailwind CSS</p>
    </div>
  </body>
</html>